* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: fit-content;
  button:hover {
    cursor: pointer;
  }
}


#drum-photo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.825;
}

#intro {
  position: absolute;
  top: 52%;
  left: 46%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
    h1, h2 {
      color: #000000;
    }
    
    h1 {
      font-size: 72px;
    }
    
    h2 {
      font-size: 64px;
    }

    span {
      color: #006eb8
    }
}

#works {
  position: relative;
  height: 100vh;
  background-color: rgb(188, 220, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    
  }
}

#card-container {
  margin-top: 25px;
  width: fit-content;
  padding: 30px;
  
  display: flex;
  justify-content: center;

}

.card {
  position: relative;
  width: 25%;
  height: 500px;
  margin: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.5);

    .initial {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .img-box {
      position: relative;
      opacity: 0;
      margin-top: 0;
      width: 75%;
      height: 0;
      transition: 300ms;
    }

    .hover-img-box {
      opacity: 1;
      height: 50%;
      margin-top: 10%;
      transition: 500ms;
    }

    .buttons {
      position: relative;
      opacity: 0;
      margin-top: 70%;
      height: -50;
      transition: 300ms;
    }

    .hover-buttons {
      opacity: 1;
      margin: 0;
      transition: 500ms;
    }

    .screen {
      position: relative;
      height: 100%;
      width: 100%;
    }
      .screenshot {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        object-fit: cover;
        border: 1px solid black;
      }
  
      .title {
        display: none;
        position: absolute;
        z-index: 1000;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        font-weight: 900;
        font-size: x-large;
        text-shadow: 1px 1px #ebebeb;
      }


    .hover-title {
      display: block;
      transition: 1000ms;
    }

    button {
      margin: 15px;
      width: 100px;
      background-color: #950740;
      color: white;
      height: 40px;
      font-size: large;  
    }

    .demo {
      margin-top: 50px;
      display: flex;
      justify-content: center;
    }

    .github {
      display: flex;
    }
    
}

.hover-card {
  box-shadow: 8px 16px 8px 0 rgba(0,0,0,0.8);
  transition: 300ms;
  .screenshot {
    filter: grayscale(75%);
    opacity: 0.8;
  }

}

#demo-modal {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 100%;

  #demo-video iframe{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 500px;
  }

  span {
    position: absolute;
    top: 50px;
    right: 100px;
    width: 50px;
    height: 50px;
    text-align: center;

    font-size: xx-large;
    color: whitesmoke;
    border-style: none;
    border-radius: 100%;
    background-color: rgb(0, 0, 0);
  }
}
